{% extends 'base.html' %} {% block title %} {{ object.title }} {% endblock %} {% block content %}
<div class="row">
    <div class="col sm12 m9">
        <h3>
            {{ object.title }}
        </h3>
        <p>
            {{ object.content }}
        </p>
        <p>
            <small>{{ object.times_viewed }} times viewed</small>
        </p>
    </div>
    <div class="col sm12 m3">
        <div class="section">
            {% for tag in object.tags.all %}
            <div class="chip">
                {{ tag.name }}
            </div>
            {% endfor %}
        </div>
        <div class="divider"></div>
        <div class="section">
            <p>
                Written by: {{ object.author.username }}
            </p>
            <p>
                Posted on: {{ object.publish_date }}
            </p>
        </div>
    </div>
</div> {% endblock %}